
<div id="topScroll" class="bg-header">
  <div class="bg-cover">
    <img class="lazy" data-original="{{@blog.cover}}">
  </div>
  <div class="bg-slogan">
    <a class="bigertech" href="/"></a>
    <h2 class="bg-description">{{@blog.description}}</h2>
  </div>
</div>
