
{{post_relative limit="2"}}
<!--
<div class="more-post">
  <div class="more-left">
    <p class="p-banner">微软为IOS开发明星新闻聚合器</p>
    <div class="info">
      <a href="" target="_blank">
        <div class="pic">
          <img src="assets/images/background.png" title="author pic">
        </div>
      </a>
      <span class="post-meta">Jason Hou • <time class="post-time">7分钟前</time></span>
      <span class="img-heart icon-heart"></span>
      <span class="post-count">88</span>
    </div>
  </div>
  <div class="more-right">
    <p class="p-banner">微软为IOS开发明星新闻聚合器然后被和谐了</p>
    <div class="info">
      <a href="" target="_blank">
        <div class="pic">
          <img src="assets/images/5.jpg" title="author pic">
        </div>
      </a>
      <span class="post-meta">Jason Hou • <time class="post-time">7分钟前</time></span>
      <span class="img-heart icon-heart"></span>
      <span class="post-count">88</span>
    </div>
  </div>
</div>-->
