<div class="more-video">
  <div class="more-left">
    <a href="" target="_blank">
      <img class="img-video" src="assets/images/background.png">
    </a>
    <span class="v-banner">微软为IOS开发明星新闻聚合器</span>
    <div class="info">
      <a href="" target="_blank">
        <div class="pic">
          <img src="assets/images/background.png" title="author pic">
        </div>
      </a>
      <span class="author-name">Jason Hou</span>
      <time class="video-time">7分钟前</time>
      <span class="img-logo icon-view"></span>
      <span class="video-count">888</span>
    </div>
  </div>
  <div class="more-right">
    <a href="" target="_blank">
      <img class="img-video" src="assets/images/background.png">
    </a>
    <span class="v-banner">微软为IOS开发明星新闻聚合器然后被和谐了呵呵呵呵呵</span>
    <div class="info">
      <a href="" target="_blank">
        <div class="pic">
          <img src="assets/images/background.png" title="author pic">
        </div>
      </a>
      <span class="author-name">Jason Hou</span>
      <time class="video-time">7分钟前</time>
      <span class="img-logo icon-view"></span>
      <span class="video-count">888</span>
    </div>
  </div>
</div>