/***导航***/
.post-template .navbar {
  position: relative !important;
}
.post-template .navbar .icon-bglogo,
.post-template .navbar .icon-search {
  color: #585a66;
}
.post-template .navbar .icon-search {
  margin-right: 0px;
}
.post-template .navbar .icon-bglogo {
  margin-left: 0;
}
.pv-banner,
.pv-container {
  margin: 0 auto;
  padding: 0 20px;
}
#post-container {
  max-width: 756px;
}
#video-container,
.readmore {
  max-width: 806px;
}
.pv-banner:before {
  position: relative;
  top: 70px;
  display: block;
  content: "";
  border-top: 1px #d8d8d8 solid;
}
#ds-thread {
  margin-top: 64px;
  margin-bottom: 64px;
}
#ds-thread #ds-reset .ds-meta {
  margin-bottom: 64px;
  height: 45px;
  float: right;
}
#ds-thread #ds-reset .ds-meta .ds-like-panel {
  color: #53ae65;
}
#ds-thread #ds-reset .ds-meta .ds-highlight {
  color: #53ae65 !important;
}
#ds-thread #ds-reset a.ds-like-thread-button {
  color: #555;
  padding: 0 !important;
  width: 41px;
  height: 41px;
  display: block;
  border: 1px solid #53ae65 !important;
  /* border-bottom-color: #aaa; */
  box-shadow: inset 0 0 0px #fff !important;
  margin-right: 57px !important;
  text-shadow: 0 0 0 !important;
  border-radius: 25px;
  background-color: #fff !important;
  background-image: none !important;
}
#ds-thread #ds-reset a.ds-like-thread-button {
  background: #53ae65 !important;
}
#ds-thread #ds-reset a.ds-like-thread-button .ds-icon-heart {
  top: 8px !important;
  left: 13px;
}
#ds-thread #ds-reset a.ds-like-thread-button:hover {
  background: #fff !important;
}
#ds-thread #ds-reset a.ds-like-thread-button .ds-thread-like-text {
  display: none;
}
#ds-thread #ds-reset a.ds-thread-liked .ds-thread-like-text {
  display: none;
}
#ds-thread #ds-reset a.ds-thread-liked:hover .ds-thread-cancel-like {
  display: none !important;
}
#ds-thread #ds-reset a.ds-rounded:hover .ds-icon-heart {
  background: url("../images/heartnormal.png") no-repeat !important;
}
#ds-thread #ds-reset .ds-icon-heart {
  background: url("../images/hearthover.png");
  background-position: none !important;
}
#ds-thread #ds-reset .ds-replybox {
  padding: 0 !important;
}
#ds-thread #ds-reset .ds-replybox .ds-avatar {
  display: none !important;
}
#ds-thread #ds-reset .ds-comments {
  border: 0!important;
}
#ds-thread .ds-like-panel {
  position: relative;
  top: -34px;
  left: 50px;
}
#ds-thread .ds-like-tooltip {
  left: inherit !important;
  right: 0;
}
.more-post {
  margin-bottom: 63px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.more-post .post-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 26px;
}
.more-post .post-item .post-title {
  font-size: 18px;
  color: #585a66;
}
.more-post .post-item .post-meta {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 12px;
}
.more-post .post-item .post-meta .avatar {
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
}
.more-post .post-item .post-meta img {
  display: block;
}
.more-post .post-item .post-meta a[href*="author"],
.more-post .post-item .post-meta .publish-time,
.more-post .post-item .post-meta .count {
  line-height: 1.5em;
}
.more-post .post-item .post-meta a[href*="author"] {
  display: block;
}
.more-post .post-item .post-meta .count {
  margin-left: 15px;
  color: #ff3f53;
}
.more-post li:first-child {
  border-bottom: 1px solid #d8d8d8;
}
.more-post:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.bg-img-small {
  position: relative;
  margin-top: 100px;
  padding-top: 35px;
}
.bg-img {
  display: none;
}
.post-info {
  width: 100%;
  margin-top: 54px;
  color: #585b65;
  text-align: left;
}
.post-info .name {
  font-size: 34px;
  font-weight: bold;
}
.post-info .author {
  font-size: 20px;
}
.post-info .desc {
  display: none;
}
/* 向下图标 */
.scroll-down {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  margin-left: -16px;
  width: 34px;
  height: 34px;
  font-size: 34px;
  text-align: center;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.7);
}
.modify .scroll-down {
  z-index: -100;
}
/* 文章主体 */
.post {
  margin: 0;
  color: #585a66;
  line-height: 1.667;
  clear: both;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post strong {
  color: #585a66;
}
.post blockquote {
  margin: 0 0 0 7px;
  padding-left: 23px;
  color: #585a66;
  border-left: #d9d9d9 2px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post img {
  max-width: 100%;
  display: inherit ;
  margin: 32px auto;
}
.post p img[alt="bg"] {
  display: none;
}
.post p {
  margin: 16px 0;
  font-size: 18px;
  word-break: normal;
}
.post strong {
  font-weight: bold;
}
.post a {
  color: #53ae65;
}
.post .full-img {
  width: auto;
  width: calc(132%);
  min-width: 0;
  max-width: 112%;
  margin: 0 -16px;
}
.video-bg-img {
  display: none;
}
.video-info {
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
  color: #585b65;
}
.video-info .name {
  font-size: 34px;
  font-weight: bold;
}
.video-info .author {
  font-size: 20px;
}
.video-desc {
  padding-top: 30px;
}
.video-desc youkuid {
  display: none;
}
@media screen and (min-width: 568px) {
  .pv-banner,
  .pv-container {
    padding: 0 38px;
  }
  .post-info .name {
    font-size: 34px;
  }
  .video-info .name {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .post-template .navbar {
    max-width: none;
    position: absolute;
  }
  .post-template .navbar .icon-search {
    margin-right: 20px;
  }
  .post-template .navbar .icon-bglogo {
    margin-left: 20px;
  }
  #post-banner .navbar .icon-bglogo,
  #post-banner .navbar .icon-search {
    color: #fff;
  }
  .modify #post-banner .navbar .icon-bglogo,
  .modify #post-banner .navbar .icon-search {
    color: #585a66;
  }
  .pv-banner {
    padding: 0;
    max-width: none;
    min-height: 560px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .pv-banner:before {
    border: 0;
  }
  .more-post {
    width: 730px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .more-post .post-item {
    position: relative;
    padding: 0;
    width: 363px;
  }
  .more-post .post-item .isVideo {
    position: absolute;
    top: 18px;
    left: 41px;
    font-size: 33px;
    color: #fff;
    cursor: pointer;
  }
  .more-post .post-item .post-image {
    width: 112px;
    height: 68px;
    margin-right: 13px;
  }
  .more-post .post-item .post-title {
    width: 187px;
    height: 36px;
    overflow: hidden;
    line-height: 1.2em;
    font-size: 15px;
    font-weight: 400;
  }
  .more-post .post-item .post-meta {
    margin-top: 8px;
    font-size: 14px;
  }
  .more-post .post-item .post-meta img {
    display: none;
  }
  .more-post .post-item .post-meta a[href*="author"] {
    display: inline-block;
  }
  .more-post .post-item .post-meta .avatar {
    display: none;
  }
  .more-post .post-item .post-meta .count {
    display: none;
  }
  .more-post li:first-child {
    float: left;
    padding-right: 50px;
    border-bottom: 0;
    border-right: 1px solid #d8d8d8;
  }
  .more-post li:last-child {
    float: right;
    padding-left: 50px;
  }
  .more-post li:last-child .isVideo {
    top: 18px;
    left: 89px;
  }
  #topScroll .bg-img-small {
    display: none;
  }
  .bg-img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    margin-top: 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .bg-img:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.3;
    background-color: #000;
    z-index: 100;
  }
  .bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .bg-img:after {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=transparent, endColorStr='#ffffff', gradientType='0');
  }
  .modify .bg-img {
    background-color: #fff;
    opacity: .5;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .modify .bg-img:before {
    opacity: 0;
  }
  .modify .bg-img:after {
    opacity: 1;
    content: "";
  }
  .post-info {
    position: absolute;
    max-width: 900px;
    top: 35%;
    left: 50%;
    color: #fff;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .post-info .name {
    font-size: 48px;
  }
  .post-info .author {
    font-size: 18px;
  }
  .post-info a {
    color: #fff;
  }
  .modify .post-info {
    color: #585a66;
  }
  .modify .post-info a {
    color: #585a66;
  }
  .modify .post-info .desc {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 620px;
    width: 620px;
    text-align: left;
    font-size: 24px;
  }
  .post {
    visibility: hidden;
  }
  .modify .post {
    visibility: visible;
  }
  .bg-topic {
    height: 100%;
    min-height: none;
  }
  .video {
    max-width: 728px;
    margin: 0 auto;
  }
  .video-bg-img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    margin-top: 0;
    background-color: #fff;
    opacity: .5;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .video-bg-img:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: #000;
    z-index: 100;
  }
  .video-bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .video-bg-img:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    content: "";
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
  .modify .video-bg-img {
    background-color: #fff;
    opacity: .5;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .modify .video-bg-img:before {
    opacity: 0;
  }
  .modify .video-bg-img:after {
    opacity: 1;
    content: "";
  }
  .video-info {
    position: relative;
    color: #585a66;
    margin-top: 180px;
    text-align: left;
  }
  #youkuplayer {
    margin-top: 0;
    visibility: visible;
  }
  #video-main {
    padding: 0;
  }
}
/*.bg-linear-gradient (@direction,@begin-color,@end-color) {
  background: -ms-linear-gradient(@direction,@begin-color,@end-color);
  background: -moz-linear-gradient(@direction,@begin-color,@end-color);
  background: -o-linear-gradient(@direction,@begin-color,@end-color);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@begin-color, endColorstr=@end-color,GradientType=0 );
}*/
:root .bg-linear-gradient {
  filter: none;
}
/* embed responsive begin  */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-2by1 {
  padding-bottom: 50%;
}
.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.embed-responsive.embed-responsive-youku {
  padding-bottom: 60.93023256%;
}
/*  embed responsive end */
