<html xmlns:wb="http://open.weibo.com/wb">
<head lang="zh-CN">
  <meta charset="utf-8">
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<img src="{{weiboImg}}" alt="changweibo">
<wb:share-button addition="simple" type="button" ralateUid="3972907549" language="zh_cn"></wb:share-button>

</body>
</html>
