<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bigertech - 位置管理</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Ghost">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/ghost/img/touch-icon-iphone.png?v=aad122cc47">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/ghost/img/touch-icon-ipad.png?v=aad122cc47">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/ghost/img/small.png?v=aad122cc47">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/ghost/img/medium.png?v=aad122cc47">

    <meta name="application-name" content="Ghost">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-square70x70logo" content="/ghost/img/small.png?v=aad122cc47">
    <meta name="msapplication-square150x150logo" content="/ghost/img/medium.png?v=aad122cc47">
    <meta name="msapplication-square310x310logo" content="/ghost/img/large.png?v=aad122cc47">

    <link rel="stylesheet" href="/ghost/css/ghost-ui.min.css?v=aad122cc47">
</head>
<body class="settings">
    <div>
        <header id="global-header" class="navbar">
            <button class="ghost-logo ghost-logo-button">
                <span class="hidden">Ghost</span>
            </button>
            <a class="ghost-logo ghost-logo-link" href="/">
                <span class="hidden">Ghost</span>
            </a>
            <nav id="global-nav" role="navigation">
                <ul id="main-menu">
                    <li class="content js-close-sidebar"><a href="/ghost/">文章列表</a></li>
                    <li class="editor js-close-sidebar"><a href="/ghost/editor/">新建文章</a></li>
                    <li class="settings js-close-sidebar"><a href="/ghost/settings/">设置</a></li>
                    <li class="js-close-sidebar active"><a class="active" href="/ghost/positions">位置管理</a></li>
                </ul>
            </nav>
        </header>

        <main role="main" id="main">
            <div class="wrapper">
                <aside class="settings-sidebar" role="complementary">
                    <header>
                        <h1 class="title">位置管理</h1>
                    </header>
                    <nav class="settings-menu">
                        <ul>
                            <li class="active"><a class="active" href="/ghost/positions/">文章位置</a></li>
                            <li><a class="" href="/ghost/settings/users/">位置列表</a></li>
                            <li><a href="/ghost/settings/users/">添加位置</a></li>
                        </ul>
                    </nav>
                </aside>

                <section class="settings-content fade-in">
                    <header class="settings-content-header">
                        <h1>位置管理</h1>
                        <div class="settings-header-inner">
                            <a class="button-back button active" href="/ghost/settings/">返回</a>
                            <section class="page-actions">
                                <button type="button" class="button-save" id="insert-new-row">新增</button>
                            </section>
                        </div>
                    </header>

                    <section class="content">
                        <table>
                            <thead>
                                <td>位置描述</td>
                                <td>文章标题</td>
                                <td>URL</td>
                                <td>标题</td>
                                <td>新窗口</td>
                                <td>激活</td>
                                <td>操作</td>
                            </thead>
                            <tbody id="rows">
                                <tr>
                                    <td>
                                        <select style="width:160px">
                                            <option value="">Long long long Long long long positions</option>
                                            <option value="">xxx</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select style="width:160px">
                                            <option value="">This My First Post.</option>
                                            <option value="">This My First Post.</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" value="http://www.google.google.google.google.com" placeholder="URL" />
                                    </td>
                                    <td><input type="text" value="测试标题" placeholder="标题" /></td>
                                    <td>
                                        <select>
                                            <option value="">No</option>
                                            <option value="">Yes</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select>
                                            <option value="">No</option>
                                            <option value="">Yes</option>
                                        </select>
                                    </td>
                                    <td><a href="">Save</a> | <a href="">Delete</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select style="width:160px">
                                            <option value="">Long long long Long long long positions</option>
                                            <option value="">xxx</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select style="width:160px">
                                            <option value="">This My First Post.</option>
                                            <option value="">This My First Post.</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" value="http://www.google.google.google.google.com" placeholder="URL" />
                                    </td>
                                    <td><input type="text" value="测试标题" placeholder="标题" /></td>
                                    <td>
                                        <select>
                                            <option value="">No</option>
                                            <option value="">Yes</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select>
                                            <option value="">No</option>
                                            <option value="">Yes</option>
                                        </select>
                                    </td>
                                    <td><a href="">Save</a> | <a href="">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </section>
            </div>
        </main>
    </div>

<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
<script>
$(function() {
    $('#insert-new-row').click(function() {
        $('#rows').prepend(genNewRow());
    });

    function genNewRow() {
        var newRow = '<tr><td><select style="width:160px"><option value="">请选择一个位置</option><option value="">xxx</option></select></td><td><select style="width:160px"><option value="">请选择一篇文章</option><option value="">This My First Post.</option></select></td><td><input type="text" value="http://www.google.google.google.google.com" placeholder="URL" /></td><td><input type="text" value="测试标题" placeholder="标题" /></td><td><select><option value="">No</option><option value="">Yes</option></select></td><td><select><option value="">No</option><option value="">Yes</option></select></td><td><a href="">Save</a> | <a href="">Delete</a></td></tr>';

        return newRow;
    }
});
</script>

</body>
</html>
