body {
  background: #e3ddc9;
  height: initial;
}
@font-face {
  font-family: SourceHanSans;
  src: url("../fonts/SourceHanSansCN-Normal.otf") format("opentype");
}

@font-face {
  font-family: SourceHanSans;
  font-weight: bold;
  src: url("../fonts/SourceHanSansCN-Bold.otf") format("opentype");
}

.weibo {
  margin: 0 auto;
  width: 880px;
  background: #fff;
  font-family: "SourceHanSans";
  .wb-bg-img-small {
    display: block;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  .wb-container {
    padding-left: 69px;
    padding-right: 69px;
  }
  .wb-post-info {
    padding-top: 73px;
    font-weight: 400;
    line-height: 1.1;
    .wb-title {
      font-size: 56px;
    }
    .wb-author {
      display: block;
      padding-top: 60px;
    }
    a,
    .wb-post-time {
      color: #898989;
      font-size: 33px;
    }
  }
  .wb-post-content {
    padding-top: 24px;
    font-size: 33px;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    p:first-child,
    p:nth-child(2) {
      padding: 0;
    }

    img[alt="bg"] {
      display: none;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    h1,h2,h3,h4,h5,h6,strong {
      font-family: "SourceHanSans";
      font-weight: bold;
    }
    br {
      display: none;
    }
  }
  .wb-desc {
    padding-top: 90px;
    padding-bottom: 110px;
    text-align: center;
  }
}